@font-face {
  font-family: "proxima";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "proxima";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "proxima";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype"); }

@font-face {
  font-family: "gilroy";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "gilroy";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"); }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.45;
  overflow-x: hidden;
  background: #fff;
  font-family: proxima;
  color: #2b2b2b; }

.overflow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto; }

.button {
  background: #eab347;
  display: inline-block;
  color: #fff;
  padding: 8px 15px;
  font-weight: 700; }

a {
  text-decoration: none;
  color: #2b2b2b; }

li {
  list-style: none; }

h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2; }

b, strong {
  font-weight: 700; }

.text__block {
  padding: 45px 50px 50px;
  padding-top: 35px;
  padding-bottom: 40px;
  background: #fff;
  width: 100%;
  max-width: 580px;
  position: relative;
  z-index: 1; }
  .text__block::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    z-index: -1; }
  .text__block::before {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 10%;
    bottom: -10%;
    content: '';
    background: #002129;
    opacity: .14;
    z-index: -2;
    filter: blur(35px); }
  .text__block h2 {
    font-size: 40px;
    line-height: 53px;
    font-weight: 400;
    margin-bottom: 15px; }
    .text__block h2 b {
      font-weight: 700; }
  .text__block .button {
    margin-top: 30px; }

.text-block-serv-fix {
  max-width: 585px; }

.title-line h2 {
  position: relative;
  display: block;
  width: 100%;
  line-height: 1.65;
  font-size: 48px;
  font-weight: 800;
  max-width: 390px;
  text-align: right;
  transform: translate3d(-100vw, 0, 0);
  opacity: 0; }
  .title-line h2::after {
    display: block;
    content: '';
    width: 100vw;
    height: 4px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #eab347;
    transform: translate3d(-100vw, 0, 0); }

.container-sticky {
  margin-top: 90px; }

section.visible .title-line h2 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s; }
  section.visible .title-line h2::after {
    transform: translate3d(0, 0, 0);
    transition: 1s .2s ease; }

.logo {
  display: block;
  width: 100%;
  max-width: 155px; }
  .logo img {
    display: block;
    width: 100%;
    height: auto; }

.header__top {
  position: relative;
  background: #fff;
  padding: 30px 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  transform: translate3d(0, -100%, 0); }
  .header__top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px; }
  .header__top .contact__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0); }
  .header__top.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5; }

.header__nav li {
  display: inline-block; }

.header__nav a {
  padding: 0 12px; }

.header__nav li:last-child a {
  padding-right: 0; }

.header__nav .lang {
  position: relative;
  color: rgba(53, 64, 82, 0.5); }
  .header__nav .lang::after {
    content: '';
    display: block;
    position: absolute;
    left: 11px;
    bottom: -3px;
    width: 18px;
    height: 2px;
    background: #eab347; }

.header__nav .link-active {
  font-weight: bold; }

.header .hamburger {
  display: none;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center; }
  .header .hamburger span {
    display: block;
    width: 18px;
    height: 2px;
    background: #000;
    position: relative; }
    .header .hamburger span::before, .header .hamburger span::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      background: #000; }
    .header .hamburger span::before {
      top: -5px; }
    .header .hamburger span::after {
      bottom: -5px; }

.header__mob {
  z-index: 15;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #f5f5f5;
  transform: translate3d(100%, 0, 0);
  transition: .4s ease-out; }
  .header__mob.active {
    transform: translate3d(0, 0, 0);
    transition: .3s ease-in; }
  .header__mob-nav {
    margin-bottom: 40px;
    display: block; }
    .header__mob-nav li {
      display: block; }
      .header__mob-nav li:last-child a {
        font-size: 14px;
        padding-right: 12px;
        padding-left: 12px;
        padding-bottom: 0; }
    .header__mob-nav a {
      font-size: 16px;
      display: inline-block;
      padding: 5px 10px; }
  .header__mob .close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
    position: fixed;
    z-index: 16; }
    .header__mob .close span {
      position: relative;
      transform: rotate(45deg);
      width: 21px;
      height: 2px;
      background: #000; }
      .header__mob .close span::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000;
        transform: rotate(90deg); }

.header__banner {
  padding: 0 20px;
  background: url("../img/banner.jpg") center center/cover;
  background: url("../img/header-banner-new.jpg") center top/cover;
  opacity: 0; }
  .header__banner.visible {
    opacity: 1;
    transition: .5s ease-in; }
    .header__banner.visible h1 {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: 1s .3s ease; }
    .header__banner.visible .header__banner-text {
      transform: translate3d(0, 35px, 0);
      transition: 1s .3s ease;
      opacity: 1; }
  .header__banner .container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 96vh;
    min-height: 700px;
    max-height: 1024px;
    padding-top: 165px; }
  .header__banner h1 {
    opacity: 0;
    align-self: flex-start;
    font-family: 'proxima';
    font-weight: 400;
    line-height: 1.5;
    font-size: 56px;
    transform: translate3d(-100vw, 0, 0); }
    .header__banner h1 span, .header__banner h1 strong {
      padding: 10px 20px;
      background: #fff; }
    .header__banner h1 strong {
      padding-left: 20px;
      padding-right: 25px; }
  .header__banner .header__banner-about-h1 {
    font-size: 48px; }
  .header__banner .header__banner-sevices-h1 {
    font-size: 48px; }
  .header__banner-text {
    align-self: flex-end;
    transform: translate3d(0, 100%, 0);
    opacity: 0; }
  .header__banner.alt {
    padding: 0;
    background: none; }
    .header__banner.alt h1 {
      padding-left: 20px;
      font-weight: 700;
      margin-bottom: 14px; }
    .header__banner.alt .container {
      padding-top: 60px;
      height: auto;
      min-height: auto; }
  .header__banner-img {
    width: 100%;
    height: 40vh;
    min-height: 400px; }
    .header__banner-img.services {
      background: url("../img/services.jpg") center center/cover; }
    .header__banner-img.contacts {
      background: url("../img/contacts-banner.png") center center/cover; }
    .header__banner-img.about {
      background: url("../img/about.jpg") center center/cover; }

.partners {
  padding: 110px 20px 65px; }
  .partners__list {
    max-width: 1100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    opacity: .7; }
    .partners__list li {
      width: 20%;
      text-align: center; }
      .partners__list li img {
        width: 100%;
        height: auto; }
    .partners__list li:nth-child(1) {
      max-width: 111px; }
    .partners__list li:nth-child(2) {
      max-width: 80px; }
    .partners__list li:nth-child(3) {
      max-width: 125px; }
    .partners__list li:nth-child(4) {
      max-width: 56px; }
    .partners__list li:nth-child(5) {
      max-width: 135px; }
    .partners__list li:nth-child(6) {
      max-width: 75px; }

.we-can .container {
  position: relative; }

.we-can.visible h2 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s ease; }

.we-can.visible .text__block {
  transform: translate3d(0, 0, 0);
  transition: 1s .3s ease;
  opacity: 1; }

.we-can__banner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 50px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  height: 84vh;
  min-height: 500px;
  max-height: 950px;
  max-height: 700px;
  background: url("../img/can-do.jpg") center center/cover;
  background: url("../img/can-do-new.jpg") center bottom/cover;
  overflow: hidden; }
  .we-can__banner h2 {
    transform: translate3d(-110%, 0, 0);
    align-self: flex-start;
    font-weight: 400;
    line-height: 1;
    padding: 20px 30px;
    background: #fff;
    opacity: 0; }

.we-can .text__block {
  position: absolute;
  right: 20px;
  bottom: -20px;
  transform: translate3d(0, 200px, 0);
  opacity: 0;
  padding-top: 50px; }
  .we-can .text__block::before {
    width: 100%;
    left: 0;
    height: 100%; }

.we-do {
  padding-top: 120px; }
  .we-do__list {
    padding: 55px 20px 0;
    max-width: 1140px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    .we-do__list li {
      width: 23%;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: 0 15px 30px rgba(0, 23, 62, 0.15);
      opacity: 0;
      transform: translate3d(0, 100px, 0); }
      .we-do__list li:nth-child(1) .img {
        background: url("../img/we-do1.jpg") center center/cover; }
      .we-do__list li:nth-child(2) .img {
        background: url("../img/we-do2.jpg") center center/cover; }
      .we-do__list li:nth-child(3) .img {
        background: url("../img/we-do3.jpg") center center/cover;
        background: url("../img/we-do-3-new.png") center center/cover; }
      .we-do__list li:nth-child(4) .img {
        background: url("../img/we-do4.jpg") center center/cover;
        background: url("../img/we-do-4-new.png") center top/cover; }
    .we-do__list .img {
      height: 150px; }
  .we-do.visible .we-do__list li {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: 1s ease; }
    .we-do.visible .we-do__list li:nth-child(1) {
      transition-delay: .3s; }
    .we-do.visible .we-do__list li:nth-child(2) {
      transition-delay: .45s; }
    .we-do.visible .we-do__list li:nth-child(3) {
      transition-delay: .6s; }
    .we-do.visible .we-do__list li:nth-child(4) {
      transition-delay: .75s; }
  .we-do__content {
    padding: 30px 25px;
    padding-right: 15px;
    background: #fff; }
    .we-do__content h3 {
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 24px; }
    .we-do__content p {
      font-size: 14px;
      line-height: 23px; }

.work {
  padding-top: 120px;
  padding-top: 100px; }
  .work .text__block {
    transform: translate3d(-50vw, -30px, 0);
    padding: 65px 60px 65px;
    padding-top: 40px;
    padding-bottom: 10px; }
    .work .text__block h2 {
      margin-bottom: 25px; }
    .work .text__block::before {
      width: 85%;
      height: 90%;
      bottom: auto;
      left: -10%;
      top: -10%; }
  .work__list {
    padding-top: 75px; }
    .work__list li {
      height: 100vh;
      min-height: 600px;
      max-height: 700px;
      margin-bottom: 105px;
      padding: 0 20px; }
      .work__list li .text__block {
        transform: translate3d(-100vw, -30px, 0); }
      .work__list li:last-child {
        margin-bottom: 0; }
      .work__list li:nth-child(1) {
        background: url("../img/work1.jpg") center center/cover; }
      .work__list li:nth-child(2) {
        align-items: flex-end;
        background: url("../img/work2.jpg") center center/cover; }
      .work__list li:nth-child(3) {
        background: url("../img/work3.jpg") center center/cover; }
      .work__list li:nth-child(4) {
        background: url("../img/header-banner-new.jpg") center center/cover; }
      .work__list li:nth-child(5) {
        background: url("../img/work-5-new.png") center center/cover; }
      .work__list li:nth-child(6) {
        background: url("../img/work-6-new.png") center center/cover; }
      .work__list li:nth-child(7) {
        background: url("../img/work-new-7.png") center center/cover; }
      .work__list li:nth-child(2n) .container {
        align-items: flex-end; }
      .work__list li:nth-child(2n) .text__block {
        opacity: 0;
        transform: translate3d(100vw, -30px, 0); }
        .work__list li:nth-child(2n) .text__block::before {
          left: auto;
          right: -10%; }
      .work__list li.visible .text__block {
        transform: translate3d(0, -30px, 0);
        opacity: 1;
        transition: 1s ease; }
    .work__list .container {
      display: flex;
      flex-flow: column;
      align-items: flex-start; }
  .work__link {
    padding-left: 20px;
    display: block;
    font-size: 28px;
    font-size: 35px;
    font-weight: 700;
    margin-top: 25px;
    font-weight: 400;
    margin-top: 35px; }
    .work__link::after {
      display: inline-block;
      content: '';
      width: 40px;
      height: 15px;
      margin-left: 15px;
      background: url("../img/arrow.svg") no-repeat center center/contain;
      height: 30px;
      margin-left: 6px;
      position: relative;
      top: 6px; }

.work--services-page {
  padding-top: 40px; }

.contact {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 90px;
  padding-top: 70px;
  padding-bottom: 70px;
  opacity: 0;
  transform: translate3d(0, 100px, 0); }
  .contact h2 {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700; }
  .contact .button {
    margin-bottom: 25px; }
  .contact__list li {
    padding: 0 8px;
    display: inline-block;
    font-size: 14px; }
    .contact__list li:first-child a::before {
      background: url("../img/mail.svg") no-repeat center center/contain; }
    .contact__list li:last-child a::before {
      background: url("../img/tel.svg") no-repeat center center/contain; }
  .contact__list a::before {
    display: inline-block;
    content: '';
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    top: -2px; }

.contact-index {
  padding-top: 10px;
  padding-bottom: 100px; }

.services-info {
  padding: 60px 20px 0; }
  .services-info.visible .services-info__title {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s ease; }
  .services-info.visible .services-info__text {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: 1s ease; }
    .services-info.visible .services-info__text:first-child {
      transition-delay: .3s; }
    .services-info.visible .services-info__text:last-child {
      transition-delay: .45s; }
  .services-info .container {
    max-width: 1140px; }
  .services-info__title {
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    max-width: 580px;
    margin-bottom: 30px;
    margin-bottom: 50px;
    transform: translate3d(-100vw, 0, 0);
    opacity: 0; }
    .services-info__title::before {
      content: '';
      display: block;
      width: 155px;
      height: 4px;
      background: #eab347;
      margin-bottom: 15px; }
  .services-info__title--nl {
    max-width: 87%; }
  .services-info .flex {
    display: flex;
    justify-content: flex-end; }
  .services-info__text {
    max-width: 395px;
    margin-left: 40px;
    transform: translate3d(0, 100px, 0);
    opacity: 0; }
  .services-info__text--adress {
    margin-top: -173px;
    margin-left: -50px;
    position: relative;
    left: -190px;
    font-size: 20px;
    line-height: normal; }
    .services-info__text--adress span:nth-child(3) {
      margin-bottom: 5px;
      display: inline-block; }
    .services-info__text--adress span:nth-child(11) {
      margin-top: 7px;
      display: inline-block; }

.services-info-about .services-info__text {
  max-width: 415px;
  margin-left: 20px; }

.about-info__title {
  margin-bottom: 70px; }

.about-info__title-nl-ab {
  margin-bottom: 40px; }

.about1 {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  margin-top: 70px;
  background: url("../img/about1.jpg") center center/cover; }

.process {
  padding-top: 50px;
  padding-top: 85px; }
  .process h2 {
    font-weight: 800;
    margin-bottom: 18px; }
    .process h2::after {
      display: none; }
  .process.visible .process__list li {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: 1s ease; }
    .process.visible .process__list li:nth-of-type(1) {
      transition-delay: .2s; }
    .process.visible .process__list li:nth-of-type(2) {
      transition-delay: .35s; }
    .process.visible .process__list li:nth-of-type(3) {
      transition-delay: .5s; }
    .process.visible .process__list li:nth-of-type(4) {
      transition-delay: .65s; }
    .process.visible .process__list li:nth-of-type(5) {
      transition-delay: .8s; }
  .process__banner {
    background: url("../img/process.jpg") center center/cover;
    padding: 85px 20px; }
  .process__list {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .process__list li {
      width: 18%;
      background: #fff;
      border-radius: 6px;
      padding: 30px 30px;
      font-size: 14px;
      line-height: 23px;
      transform: translate3d(0, 100px, 0);
      opacity: 0;
      padding-left: 18px;
      padding-right: 18px; }
    .process__list img {
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
      margin-bottom: 20px; }
    .process__list h3 {
      font-weight: 700;
      margin-bottom: 3px;
      font-size: 14px; }
      .process__list h3::before {
        content: '';
        background: #eab347;
        width: 40px;
        height: 3px;
        display: block;
        margin: 0 auto;
        margin-bottom: 12px; }
    .process__list p {
      line-height: 1.21; }

.services-partners {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 75px; }
  .services-partners span {
    display: block;
    color: #354052;
    margin-bottom: 25px; }

.team {
  padding-top: 80px; }
  .team__wrapper {
    padding-top: 75px;
    display: flex;
    justify-content: flex-start;
    max-width: 1440px;
    margin: 0 auto; }
    .team__wrapper .left {
      width: 25%;
      width: 38.5%;
      margin-left: 145px;
      margin-left: 10%;
      background: url("../img/team-left.jpg") center left/cover;
      background: url("../img/team-left-new.png") center left/cover;
      margin-right: 45px;
      transform: translate3d(-200px, 0, 0);
      opacity: 0; }
    .team__wrapper .right {
      width: 43%; }
  .team__list {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch; }
    .team__list li {
      width: calc(50% - 45px);
      margin-right: 45px;
      margin-bottom: 50px;
      overflow: hidden;
      position: relative;
      transform: translate3d(0, 100px, 0);
      opacity: 0; }
      .team__list li::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 85, 106, 0.85);
        transform: translate3d(0, 100%, 0);
        transition: 0.5s cubic-bezier(0.16, 0.65, 0.05, 0.96);
        z-index: 1; }
      .team__list li:hover::before, .team__list li:hover .team__list-info {
        transform: translate3d(0, 0, 0);
        transition: 0.7s cubic-bezier(0.16, 0.65, 0.05, 0.96); }
      .team__list li:nth-child(1) {
        background: url("../img/team1.jpg") top center/cover; }
      .team__list li:nth-child(2) {
        background: url("../img/team2.jpg") 35% 0/150%; }
      .team__list li:nth-child(3) {
        background: url("../img/team3.jpg") top center/cover; }
      .team__list li:nth-child(4) {
        background: url("../img/team4.jpg") top center/cover; }
      .team__list li:nth-child(3), .team__list li:nth-child(4) {
        margin-bottom: 0; }
    .team__list-info {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      color: #fff;
      font-size: 14px;
      padding: 25px;
      position: relative;
      z-index: 2;
      transform: translate3d(0, 150%, 0);
      transition: 0.5s cubic-bezier(0.16, 0.65, 0.05, 0.96); }
      .team__list-info h3 {
        width: 100%;
        line-height: 23px;
        font-size: 14px;
        margin-bottom: 20px; }
      .team__list-info p {
        line-height: 19px; }
  .team.visible .team__wrapper .left {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s ease; }
  .team.visible .team__list li {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: 1s ease; }
    .team.visible .team__list li:nth-child(1) {
      transition-delay: .3s; }
    .team.visible .team__list li:nth-child(2) {
      transition-delay: .45s; }
    .team.visible .team__list li:nth-child(3) {
      transition-delay: .6s; }
    .team.visible .team__list li:nth-child(4) {
      transition-delay: .75s; }

.contact-section {
  padding-top: 70px;
  min-height: 597px;
  height: calc(100vh - 250px);
  display: flex;
  flex-flow: column;
  justify-content: center; }
  .contact-section h2 {
    padding-left: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    transform: translate3d(-200px, 0, 0);
    opacity: 0; }
  .contact-section__wrap {
    background: #00556A; }
    .contact-section__wrap .container {
      display: flex;
      justify-content: flex-start;
      padding-right: 395px;
      position: relative; }
  .contact-section__info {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
    width: 50%;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 40px;
    color: #fff; }
    .contact-section__info-title {
      font-size: 16px;
      line-height: 1.25; }
      .contact-section__info-title::after {
        width: 155px;
        height: 4px;
        background: #eab347;
        display: block;
        content: '';
        margin-top: 20px;
        margin-bottom: 40px; }
    .contact-section__info-list {
      font-size: 20px;
      line-height: 1.2; }
      .contact-section__info-list li {
        margin-bottom: 15px; }
      .contact-section__info-list a {
        color: #fff;
        display: block; }
  .contact-section__map {
    opacity: 0;
    width: 50%;
    height: 450px; }
  .contact-section__form {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
    position: absolute;
    right: 20px;
    width: 340px;
    background: #fff;
    top: -80px;
    padding: 25px 20px 30px;
    box-shadow: 0 11px 38px rgba(0, 40, 64, 0.36);
    border-radius: 6px; }
    .contact-section__form label {
      display: block;
      width: 100%;
      font-size: 14px;
      margin-bottom: 18px; }
    .contact-section__form input {
      display: block;
      width: 100%;
      font-size: 16px;
      padding: 7px 8px;
      margin-top: 6px;
      border-radius: 3px;
      -webkit-appearance: none;
      font-weight: 300;
      border: 1px solid #979797;
      transition: .3s; }
      .contact-section__form input.question {
        background: rgba(0, 40, 64, 0.05);
        border: 1px solid #eee; }
      .contact-section__form input::placeholder {
        color: rgba(0, 40, 64, 0.2);
        font-size: 16px;
        font-family: 'proxima';
        font-weight: 400; }
      .contact-section__form input:focus {
        outline: none;
        border: 1px solid #00B2DB;
        transition: .3s;
        background: rgba(0, 178, 219, 0.12); }
      .contact-section__form input:hover {
        border: 1px solid #00B2DB;
        transition: .3s; }
      .contact-section__form input:valid {
        background: rgba(0, 178, 219, 0.12);
        border: 1px solid #00B2DB;
        transition: .3s; }
    .contact-section__form h3 {
      font-weight: 400;
      font-size: 22px; }
      .contact-section__form h3::after {
        content: '';
        display: block;
        width: 155px;
        height: 4px;
        background: #eab347;
        margin-top: 10px;
        margin-bottom: 25px; }
    .contact-section__form .button {
      display: block;
      border: none;
      -webkit-appearance: none;
      margin: 35px auto 0;
      font-size: 16px;
      padding: 9px 15px;
      border-radius: 4px;
      font-family: proxima;
      font-weight: 700; }
  .contact-section.visible h2 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s ease; }
  .contact-section.visible .contact-section__info {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s ease; }
  .contact-section.visible .contact-section__map {
    opacity: 1;
    transition: .5s .3s ease; }
  .contact-section.visible .contact-section__form {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s .5s ease; }

.new-contact-section {
  padding: 0;
  margin-bottom: 90px;
  margin-top: 50px; }
  .new-contact-section__form {
    position: static;
    width: 96%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden; }
  .new-contact-section-wrapper {
    display: flex; }
  .new-contact-section .button {
    float: right;
    margin-top: 15px; }

.new-form-map {
  width: 41.8%; }
  .new-form-map iframe {
    width: 100%;
    height: 100%; }

.new-form-block {
  padding: 50px;
  padding-top: 45px;
  padding-bottom: 40px;
  padding-right: 70px;
  padding-bottom: 30px;
  width: calc(100% - 41.8%); }
  .new-form-block-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 12px;
    margin-bottom: 15px; }
  .new-form-block textarea {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 7px 8px;
    margin-top: 6px;
    border-radius: 3px;
    -webkit-appearance: none;
    font-weight: 300;
    border: 1px solid #979797;
    transition: .3s;
    min-height: 120px;
    resize: none; }
    .new-form-block textarea::placeholder {
      color: rgba(0, 40, 64, 0.2);
      font-size: 16px;
      font-family: 'proxima';
      font-weight: 400; }
    .new-form-block textarea:focus {
      outline: none;
      border: 1px solid #00B2DB;
      transition: .3s;
      background: rgba(0, 178, 219, 0.12); }
    .new-form-block textarea:hover {
      border: 1px solid #00B2DB;
      transition: .3s; }
    .new-form-block textarea:valid {
      background: rgba(0, 178, 219, 0.12);
      border: 1px solid #00B2DB;
      transition: .3s; }

.visible {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: 1s ease; }

.footer {
  padding: 40px 20px;
  background: #f5f5f5;
  font-size: 14px; }
  .footer__flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start; }
    .footer__flex > div {
      width: 17.5%; }
      .footer__flex > div:nth-child(4) {
        margin-left: -50px; }
    .footer__flex a {
      width: 20%;
      max-width: none; }
      .footer__flex a img {
        max-width: 155px; }
  .footer__nav a {
    line-height: 1; }
  .footer__vca img {
    width: 60px;
    height: auto;
    margin-bottom: 5px; }
  .footer__vca p {
    font-size: 13px; }
  .footer__social .linkedin::before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background: url("../img/linkedin.svg") no-repeat center center/contain;
    margin-right: 7px; }
  .footer__copyright p {
    margin-bottom: 20px; }
  .footer__lang a.active {
    position: relative; }
    .footer__lang a.active::after {
      content: '';
      display: block;
      position: absolute;
      left: 0px;
      bottom: -3px;
      width: 18px;
      height: 2px;
      background: #eab347; }

@media (max-width: 1250px) {
  .team__wrapper .right {
    width: 65%; }
  .we-can__banner {
    overflow: visible; } }

@media (max-width: 1023px) {
  .header .contact__list {
    display: none; }
  .header__nav {
    display: none; }
  .header .header__mob-contacts {
    display: block;
    position: relative;
    transform: none;
    left: 0;
    top: 0; }
  .header__mob {
    display: flex; }
    .header__mob-nav {
      display: block; }
  .header .hamburger {
    display: flex; }
  .we-do__list {
    flex-flow: row wrap; }
    .we-do__list li {
      width: 48%;
      margin-bottom: 35px; }
  .process__list {
    justify-content: center;
    flex-flow: row wrap; }
    .process__list li {
      width: 29%;
      margin: 0 2%;
      margin-bottom: 30px; }
  .team__wrapper .right {
    width: 75%; }
  .team__wrapper .left {
    margin-left: 0;
    width: 20%; }
  .contact-section {
    height: auto; }
    .contact-section__wrap {
      padding-bottom: 70px; }
      .contact-section__wrap .container {
        padding-right: 0;
        justify-content: center;
        flex-flow: row wrap; }
    .contact-section__info {
      width: 50%; }
    .contact-section__map {
      width: 50%; }
    .contact-section__form {
      margin-top: 60px;
      right: 0;
      position: relative;
      top: 0; }
  .footer {
    padding-bottom: 20px; }
    .footer__flex {
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretch; }
      .footer__flex > div {
        width: 35%;
        margin-bottom: 35px;
        padding-left: 10%; }
      .footer__flex a {
        width: 100%;
        margin-bottom: 40px; }
        .footer__flex a img {
          margin: 0 auto; }
    .footer__nav a {
      display: block;
      padding: 6px 0;
      margin-bottom: 0; }
  .services-info__text--adress {
    margin-top: 0;
    left: inherit;
    left: 0;
    position: static; } }

@media (max-width: 767px) {
  .text__block {
    padding: 25px 20px 30px; }
    .text__block h2 {
      font-size: 24px;
      line-height: 30px; }
  h2 {
    font-size: 32px; }
  .title-line {
    padding-right: 20px; }
    .title-line h2 {
      padding-left: 20px;
      display: inline-block;
      width: auto;
      font-size: 32px;
      max-width: auto; }
  .header__top {
    padding: 20px; }
    .header__top .logo {
      width: 125px; }
  .header__banner .container {
    padding-top: 100px;
    min-height: auto;
    height: auto; }
  .header__banner h1 {
    font-size: 32px; }
    .header__banner h1 span {
      display: inline-block;
      width: 245px; }
    .header__banner h1 span, .header__banner h1 strong {
      padding: 10px 15px;
      line-height: 1.2; }
    .header__banner h1 strong {
      line-height: 1;
      position: relative;
      top: -10px;
      display: inline-block; }
  .header__banner-img {
    min-height: 280px; }
  .partners {
    padding-bottom: 40px; }
    .partners__list {
      flex-flow: row wrap; }
      .partners__list li {
        width: 26%;
        max-width: none !important;
        margin-bottom: 20px; }
  .we-can__banner {
    padding: 30px 20px;
    height: 50vh;
    min-height: 500px; }
    .we-can__banner h2 {
      font-size: 24px;
      line-height: 30px;
      padding: 15px 20px 15px;
      display: inline; }
      .we-can__banner h2 b {
        display: inline; }
  .we-can .text__block {
    position: relative;
    right: 0px;
    bottom: -65px; }
  .we-do__list li {
    width: 100%;
    margin-bottom: 35px; }
  .work {
    padding-top: 40px; }
    .work .text__block {
      transform: translate3d(0, -30px, 0);
      padding: 25px 20px; }
      .work .text__block h2 {
        margin-bottom: 20px; }
    .work__list li {
      height: 70vh;
      min-height: 450px; }
      .work__list li:nth-child(2n) .text__block::before {
        left: -10%;
        right: auto; }
    .work__link {
      padding-left: 0px;
      text-align: center;
      font-size: 24px; }
  .contact h2 {
    font-size: 24px;
    line-height: 30px; }
  .contact__list li {
    display: block;
    margin-bottom: 10px; }
  .services-info__title {
    font-size: 20px;
    line-height: 28px; }
  .services-info .flex {
    flex-flow: column; }
  .services-info__text {
    max-width: 395px;
    margin-left: 0px;
    margin-bottom: 25px; }
  .services-partners {
    padding-top: 40px;
    padding-bottom: 0; }
  .process {
    padding-top: 30px; }
    .process__banner {
      padding: 35px 20px; }
    .process__list li {
      width: 100%;
      margin: 0 0 25px;
      padding: 20px; }
      .process__list li:last-child {
        margin-bottom: 0; }
  .about-info__title {
    margin-bottom: 40px; }
  .about1 {
    margin-top: 40px; }
  .team {
    padding-top: 60px; }
    .team__wrapper {
      padding-top: 40px; }
      .team__wrapper .left {
        display: none; }
      .team__wrapper .right {
        width: 100%; }
    .team__list {
      flex-flow: column; }
      .team__list li {
        width: 100%;
        margin-right: 0px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding-top: 300px;
        max-width: 450px; }
        .team__list li::before {
          display: none; }
        .team__list li:nth-child(1) {
          background: url("../img/team1.jpg") no-repeat top center/100% auto; }
        .team__list li:nth-child(2) {
          background: url("../img/team2.jpg") no-repeat 20% 0/110% auto; }
        .team__list li:nth-child(3) {
          background: url("../img/team3.jpg") no-repeat top center/100% auto; }
        .team__list li:nth-child(4) {
          background: url("../img/team4.jpg") no-repeat top center/100% auto; }
        .team__list li:nth-child(3) {
          margin-bottom: 40px; }
        .team__list li:last-child {
          margin-bottom: 0; }
      .team__list-info {
        padding: 25px 20px;
        background: #00556a;
        transform: none; }
        .team__list-info h3 {
          margin-bottom: 15px; }
  .contact-section h2 {
    padding-left: 20px; }
  .contact-section__wrap {
    padding: 35px 20px 50px; }
    .contact-section__wrap .container {
      display: block;
      padding-right: 0; }
  .contact-section__info {
    width: 100%;
    padding: 0 0 20px; }
    .contact-section__info-list {
      font-size: 16px; }
  .contact-section__map {
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    height: 350px; }
  .contact-section__form {
    width: 100%;
    margin-top: 50px; }
  .new-contact-section {
    margin-top: 20px; }
    .new-contact-section-wrapper {
      flex-direction: column; }
  .new-form-map {
    width: 100%;
    height: 350px; }
  .new-form-block {
    width: 100%;
    padding: 20px; }
  .footer__flex {
    max-width: 400px;
    margin: 0 auto; }
    .footer__flex > div {
      width: 50%;
      padding-left: 2%; }
      .footer__flex > div:nth-child(4) {
        margin-left: 0; }
    .footer__flex a img {
      max-width: 125px; } }
